https://stages.ai/competitions/104/discussion/talk/post/1105

In [1]:
import pandas as pd

DATA_PATH = '../input/data/train/'
FILE_NAME = 'train.csv'

In [2]:
df = pd.read_csv(DATA_PATH+FILE_NAME)
df_new = df.copy()

## Gender Label Correction

In [3]:
gender_f_to_m = [
    '006359', 
    '006360', 
    '006361', 
    '006362', 
    '006363', 
    '006364', 
]

gender_m_to_f = [
    '001498-1',
    '004432'
]

In [4]:
df_gender = df.copy()

In [5]:
df_gender.set_index(['id'], inplace=True)

In [6]:
df_gender

        gender   race  age                    path
id
000001  female  Asian   45  000001_female_Asian_45
000002  female  Asian   52  000002_female_Asian_52
000004    male  Asian   54    000004_male_Asian_54
000005  female  Asian   58  000005_female_Asian_58
000006  female  Asian   59  000006_female_Asian_59
...        ...    ...  ...                     ...
006954    male  Asian   19    006954_male_Asian_19
006955    male  Asian   19    006955_male_Asian_19
006956    male  Asian   19    006956_male_Asian_19
006957    male  Asian   20    006957_male_Asian_20
006959    male  Asian   19    006959_male_Asian_19

[2700 rows x 4 columns]

In [7]:
for i in gender_f_to_m:
    df_gender.at[i, 'gender'] = 'male'

for i in gender_m_to_f:
    df_gender.at[i, 'gender'] = 'female'

In [8]:
df_gender['gender'].value_counts()

female    1654
male      1046
Name: gender, dtype: int64

In [9]:
df['gender'].value_counts()

female    1658
male      1042
Name: gender, dtype: int64

In [10]:
df_new

          id  gender   race  age                    path
0     000001  female  Asian   45  000001_female_Asian_45
1     000002  female  Asian   52  000002_female_Asian_52
2     000004    male  Asian   54    000004_male_Asian_54
3     000005  female  Asian   58  000005_female_Asian_58
4     000006  female  Asian   59  000006_female_Asian_59
...      ...     ...    ...  ...                     ...
2695  006954    male  Asian   19    006954_male_Asian_19
2696  006955    male  Asian   19    006955_male_Asian_19
2697  006956    male  Asian   19    006956_male_Asian_19
2698  006957    male  Asian   20    006957_male_Asian_20
2699  006959    male  Asian   19    006959_male_Asian_19

[2700 rows x 5 columns]

In [11]:
#df_new.drop(['gender'], axis=1, inplace=True)
df_new['gender'] = df_gender['gender'].tolist()

In [12]:
df_new

          id  gender   race  age                    path
0     000001  female  Asian   45  000001_female_Asian_45
1     000002  female  Asian   52  000002_female_Asian_52
2     000004    male  Asian   54    000004_male_Asian_54
3     000005  female  Asian   58  000005_female_Asian_58
4     000006  female  Asian   59  000006_female_Asian_59
...      ...     ...    ...  ...                     ...
2695  006954    male  Asian   19    006954_male_Asian_19
2696  006955    male  Asian   19    006955_male_Asian_19
2697  006956    male  Asian   19    006956_male_Asian_19
2698  006957    male  Asian   20    006957_male_Asian_20
2699  006959    male  Asian   19    006959_male_Asian_19

[2700 rows x 5 columns]

In [13]:
df_new.gender.value_counts()

female    1654
male      1046
Name: gender, dtype: int64

In [14]:
df_new.to_csv(DATA_PATH+'train_label.csv', index=False)

## Mask Label Correction

https://stages.ai/competitions/104/discussion/talk/post/1122

In [35]:
mask = sorted(['005227', '004418', '000020']) # normal <-> incorrect

mask

['000020', '004418', '005227']

In [37]:
df_mask = df.copy()

In [38]:
df_mask.set_index(['id'], inplace=True)

In [39]:
df_mask

        gender   race  age                    path
id
000001  female  Asian   45  000001_female_Asian_45
000002  female  Asian   52  000002_female_Asian_52
000004    male  Asian   54    000004_male_Asian_54
000005  female  Asian   58  000005_female_Asian_58
000006  female  Asian   59  000006_female_Asian_59
...        ...    ...  ...                     ...
006954    male  Asian   19    006954_male_Asian_19
006955    male  Asian   19    006955_male_Asian_19
006956    male  Asian   19    006956_male_Asian_19
006957    male  Asian   20    006957_male_Asian_20
006959    male  Asian   19    006959_male_Asian_19

[2700 rows x 4 columns]

In [40]:
df_mask['path'].loc[mask[0]]

'000020_female_Asian_50'

In [41]:
#path = df_mask['path'].loc[mask[0]]

wrong_folders = []

for m in mask:
    print(df_mask['path'].loc[m])
    wrong_folders.append(df_mask['path'].loc[m])

000020_female_Asian_50
004418_male_Asian_20
005227_male_Asian_22

In [42]:
wrong_folders

['000020_female_Asian_50', '004418_male_Asian_20', '005227_male_Asian_22']

In [49]:
# 아래 코드는 한 번만 실행해야 합니다! 
# 이미 바뀐 파일은 바뀌지 않도록 하는 코드를 구상하는중...
import os

#IMG_PATH = '../input/cropped/train/images/'
IMG_PATH = '../input/data/train/images/'

file_names = ["incorrect_mask.jpg", "normal.jpg", "temp.jpg"]

for folder in wrong_folders:
    print(folder)
    image_dir = os.path.join(IMG_PATH, folder)
    
    incorrect_file = os.path.join(image_dir, file_names[0])
    normal_file = os.path.join(image_dir, file_names[1])
    
    
    temp = os.path.join(image_dir, file_names[2])


    os.rename(incorrect_file, temp)
    os.rename(normal_file, incorrect_file)
    os.rename(temp, normal_file)  # temp img is not created in this folder, only for rename

    print("Changed File Names")

000020_female_Asian_50
Changed File Names
004418_male_Asian_20
Changed File Names
005227_male_Asian_22
Changed File Names

In [48]:
# 파일 이름을 바꿔도 modified time이 바뀌지 않고, 파일마다 시간이 다르다...

for folder in wrong_folders:
    print(folder)
    image_dir = os.path.join(IMG_PATH, folder)
    
    incorrect_file = os.path.join(image_dir, file_names[0])
    normal_file = os.path.join(image_dir, file_names[1])
    
    print(os.path.getmtime(incorrect_file))

000020_female_Asian_50
1614865992.0
004418_male_Asian_20
1614866112.0
005227_male_Asian_22
1614866066.0